<div class="home">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint distinctio eligendi doloribus reiciendis porro nemo non suscipit sit quidem rem magnam aperiam, accusamus repellat nisi, sequi soluta! Alias, quibusdam reprehenderit?</p>
</div>