<div class="d-flex justify-content-center align-items-center" style="height:80vh">
  <div class="col-11 col-sm-8 col-md-5 col-lg-3">

    <h1>Password Recovery</h1>
    <p>To recover your passowrd, please complete the followin form with your
      email</p>
    <p>We'll send you a code to your email, entering this code in this page,
      will allow you to reset your passowrd</p>
    <form action="" class="bs-form" id="email-form">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control" />
      </div>
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          id="btn-submit-email-form"
        >Send</button>
      </div>
    </form>

    <form action="" class="bs-form d-none" id="recovery-code-form">
      <div class="mb-3">
        <label for="recovery-code" class="form-label">Recovery Code</label>
        <input
          type="recovery-code"
          name="recovery-code"
          id="recovery-code"
          class="form-control"
        />
        <label for="new-password" class="form-label">New Password</label>
        <input class="form-control" type="password" name="new-passoword" id="new-password" />
        <label for="new-password-copy" class="form-label">New Password</label>
        <input class="form-control" type="password" name="new-passoword" id="new-password-copy" />
      </div>
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          id="btn-submit-recovery-code-form"
        >Reset Password</button>
      </div>
    </form>
  </div>
</div>

<script src="/public/js/passwordRecovery.js"></script>