<div class="products-admin m-5 d-flex flex-column align-items-center">
  <button
    class="btn btn-success align-self-start"
    id="btn-show-product-creation-form"
  >Add Product</button>

  <form id="product-creation-form" class="w-25">
    {{! title }}
    <div class="mb-3">
      <label for="title" class="form-label">Product title</label>
      <input type="text" class="form-control" id="title" required />
    </div>
    {{! category }}
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <input type="text" class="form-control" id="category" />
    </div>
    {{! photo }}
    <div class="mb-3">
      <label for="photo" class="form-label">Picture URL</label>
      <input type="url" class="form-control" id="photo" />
    </div>
    {{! stock }}
    <div class="mb-3">
      <label for="stock" class="form-label">Stock</label>
      <input type="number" step="1" class="form-control" id="stock" />
    </div>
    {{! price }}
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input
        type="number"
        min="0"
        max="9999999"
        class="form-control"
        id="price"
      />
    </div>
    <button id="btn-sumbit" type="submit" class="btn btn-success">Create</button>
    <button id="btn-cancel" type="reset" class="btn btn-danger">Cancel</button>
  </form>
</div>