<div
  class="d-flex flex-column align-items-center vh-100 justify-content-around mx-5"
>
  <h1 class="align-self-start">{{product.title}}</h1>
  <h2 class="align-self-start">Category: {{product.category}}</h2>
  <div class="d-flex align-items-center justify-content-around w-100">
    <img src="{{product.photo}}" alt="" />

    <h3>Unidades:</h3>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary" id="btn-decrease">-</button>
      <input
        type="number"
        min="1"
        value="1"
        id="input-quantity"
        class="btn btn-warning"
      />
      <button type="button" class="btn btn-primary" id="btn-increase">+</button>
    </div>
    <button
      class="btn btn-primary"
      id="btn-add-to-cart"
      data-product-id={{product.id}}
    >Add To Cart</button>

  </div>
</div>
<script src="/public/js/productDetail.js"></script>